* {
    margin: 0;
    padding: 0;
  }
  *{
    box-sizing: border-box;
  }
  :root{
    --primary-color:darkgrey;
  }
  body {
    color:black;
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgb(208, 218, 208);
  }
    /* style header star */
  header {
    padding: 10px 0px;
    background-color:rgb(36, 34, 34);
    display: flex;
    justify-content: space-between;
    position: -webkit-sticky;
    position: sticky;  
    top: 0;
    background-attachment: fixed;
    background-position: 80%; 
    z-index: 9999; 
  }
  
  header h1 {
   font-weight: bold;
   font-size: 34px;
   color: rgb(29, 27, 27);
   background-color:darkgray ;     
   padding-left: 40px;
   margin: 0;
  }
  
  header a {
  text-decoration-color: darkgrey;
  color: darkgrey;
  }
  
  header nav {
     margin-top:auto;
  }
  
  header nav ul  {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  }
  
  header nav ul li a {
  margin:0 10px ;      
  font-weight: lighter ;
  font-size: 1.8vw;
  }   
  header nav ul li a:hover{
      text-shadow: 0 0 20px rgb(26, 219, 210);
  }

        /* style header end */
      /* main-*/
  .general{
  background-image: url(../images/my-picture.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  }
  
.general h1{
 color: rgb(29, 27, 27);
 background-color:darkgray ;
 font-size: 25px;      
 margin-top: 200px ;
 margin-bottom: 20px;
 margin-left: 70%; 
 padding-right: 10px  ;
 padding-left: 10px;
  
 }
.flex-row {     
  padding-top: 70px ;
  display: flex;
  justify-content:space-between;
  flex-wrap: wrap;
  width: 100%;    
 }

   .cont-row {
    width: 20%;    
    margin: 0;
    padding-right: 5px; 
    border-right: solid 4px rgb(138, 134, 134); 
    }
     .cont-row h2{
      text-align: right;
      padding: 15px;
      color:rgb(78, 78, 107);
      font-size: 30px;
    }
    .cont-row2{
     width: 77%;
     text-align: left;
     line-height: 1.2;
     margin: 5px 0 15px 0;
    }   
    .cont-row2 p{
      color:rgb(14, 14, 56);
      padding: 15px;
      text-align: start;
      font-size: 18px;
    }
    /*section about me end*/

    /*section contact me star*/
      
    .elemtContact{
      width: 75%;
      display: flex;    
      align-items:center;      
      flex-wrap: wrap;
      
    }
    .elemtContact ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;   
   }
  
    .elemtContact ul li a{
      text-decoration-color:rgb(78, 78, 107);
      text-decoration-style:10 px solid;      
      color:rgb(78, 78, 107);
      margin:0 60px ;    
      font-weight: bold ;
      font-size: 18px;           
     }

     .elemtContact ul li a:hover{
         text-shadow: 0 0 5px lightseagreen;
     }
/* section work  CSS Grid star*/

 .grid-container{
  display: flex;
  width: 75%;
  justify-content: space-between;
  height: 400px;
   
 }
 .work-grid-wraper{
   display: grid;
   width: 70%;
   grid-template-columns: repeat(6,1fr);
   grid-template-rows: repeat(10,1fr);
  grid-template-rows: minmax(10px ,auto);  
  grid-gap: 15px;
  grid-auto-flow: dense;
  
 }
 .work-grid-items{
  display: flex; 
  justify-content:first baseline;
  text-align: center;
  border: 5px solid  lightseagreen;
  background-position: center;
  background-size: cover;    
  flex-wrap: wrap;
  position: relative;
   }

.work-grid-items.surf{
  grid-column: 1 /span 4;  
  grid-row: 1/ span 4;
 }
 .work-grid-items.led{
  grid-column: 5/span 2;  
  grid-row: 1 /span 2;
 }
 .work-grid-items.calculator{
  grid-column: 5 /span 2;
  grid-row: 3 / span 2;  
   }
  .work-grid-items.pastel{
    grid-row: 5 / span 2;
    grid-column: 1 / span 2; 
  } 
  .work-grid-items.buddy{
    grid-row: 5 /span 2;
    grid-column: 3 /span 2;
  }
 .work-grid-items.surf{
   background-image: url(../images/surf-report.jpg); 
   
 }
     
 .work-grid-items.led{
  background-image: url(../images/led-wall.jpg);  
 }
 
.work-grid-items.calculator{
   background-image: url(../images/calculator.jpg); 
}
  
.work-grid-items.pastel{
    background-image: url(../images/horiseon.jpg); 
}

.work-grid-items.buddy{
  background-image: url(../images/run-buddy.jpg); 
 }  
  
a:link {   
  text-decoration: none;
  color:rgb(78, 78, 107);
}
.img-text {  
  top:55px;    
}
.surfposition{
  top:190px;     
}
.img-text,.surfposition{
  position:absolute;  
}

 .work-grid-items  h2,h3{
   background-color: darkgrey;   
   color:rgb(78, 78, 107);
   display:flex;
 }
.work-grid-items  h2{
  font-size: 25px;
 }
.work-grid-items  h3{
  font-size: 10px;
}

 .animation:hover {
  -webkit-transform:scale(1.1);transform:scale(1.1);
  box-shadow: 0 0 10px rgb(233, 127, 127);
}

.animation::before{
   position: absolute;
   content: "";
    height: 100%;
    width: 100%;
    background: linear-gradient( rgba(121, 117, 96,0.2), rgb(240, 231, 174));
    position: absolute;   
    opacity: 0,3;
  
}
.animation:hover::before{
  position: absolute;
 content: "";
   height: 100%;
   width: 100%;
   background: linear-gradient( rgba(247, 188, 139, 0.3), rgb(196, 177, 162));
   position: absolute;   
   opacity: 0,4;
   transition-duration: 5s;
}

/*MEdiaQueries*/
/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {/* this will be applied on any screen smaller than 980px */
  header {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
  }

  header h1 {
    width: 100%;
    text-align: left;
  }

  header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }

  header nav ul li a {
    font-size: 20px;
  }

  
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) { /* this will be applied on any screen between 768px and 575px */
  section {
    padding: 30px 15px;
  }
  .step h3 {
    flex: 1 100%;
    text-align: center;
  }

  .step-info {
    flex: 2 100%;
    text-align: center;
    justify-content: center;
  }

  .step-img {
    flex: 0 32%;
    margin-right: 0;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .step-text {
    flex: 100%;  
  }
}

@media screen and (max-width: 768px) {/*para la section de services*/

  .service-grid-container {
    grid-template-columns: 1fr 1fr;
  }

  .service-grid-item.basic {
    grid-column: 1;
  }

  .service-grid-item.both {
    grid-column: 1 / -1;
  }

  .service-grid-item.cancel {
    transform: none;
    writing-mode: unset;
    grid-column: 1 / -1;
    grid-row: -1;
  }
}
@media screen and (max-width: 575px) { /*el mio*/
  .general h1{     
    font-size: 15px;
  }
  .cont-row h2{
    font-size: 20px;
  }
  .img-text {  
    top:20px;    
  }
  
  .surfposition{
    top:80px;     
  }
  /* .grid-container{
     height: 100%;
   }*/
  .work-grid-items  h2{
    font-size: 20px;
   }
  .work-grid-items  h3{
    font-size: 10px;
  }
  .work-grid-items{ 
    height: 100%;
    width: 100%;
     flex: 0 100%;
     grid-row: 1;
     grid-column: 1;
   }
      
      .work-grid-wraper{
     
     grid-template-columns: 1fr 1fr ;   
     grid-template-rows: 1fr 1fr 1fr ;
   }
     
            
  .img-text,.surfposition{
    position:relative;  
  }
  
 .work-grid-items.surf{
    grid-column: 1;
   }
  
   .work-grid-items.calculator{
    grid-column: 1;
   
     }
    .work-grid-items.led{
      grid-column: 1;
    } 
    .work-grid-items.buddy{
      grid-column: 1;
    }
    .work-grid-items.pastel{
      grid-column: 1;
    }
  }