* {
    margin: 0;
    padding: 0;
  }
  
  body {
      color:black;
      font-family: Georgia, 'Times New Roman', Times, serif;
    }
    /* style header star */
    header {
      padding: 10px 0px;
      background-color:rgb(29, 27, 27);
    }
  
    header h1 {
      font-weight: bold;
      font-size: 34px;
      color: rgb(29, 27, 27);
      background-color:darkgray ;
      padding-left: 40px;
      display: inline;
    }
  
     header a {
       text-decoration-color: darkgrey;
       color: darkgrey;
       padding-top: 10px;
     }
  
     header nav {
      float: right;
      margin: 7px 0;
    }
  
    header nav ul li {
      display: inline;
    }
  
    header nav ul li a {
      margin:0 10px ;
      padding:0px  15px ;
      font-weight: lighter ;
      font-size: 18px;
    }    
          /* style header end */
          /* main-*/
    .general{
    background-image: url("../images/my-picture.jpg");
    height: 200px;
    background-size: cover;
    background-position: center;
    position: relative;
    }
    .general h1{
        color: rgb(29, 27, 27);
        background-color:darkgray ;
        font-size: 25px;        
        padding: 0px ; /* ver por separado sus atributos*/
        margin-top: 150px;
        margin-left: 20px;
        float: right;
     }
        

  